* {
    box-sizing: border-box;
}

.payload {
  margin-left: 20px;
  clear: right;
}

.header {
  float: right;
  background-color: yellow;
  width: 25%;
}

/* desktop */
@media (min-width: 992px) {
  .col-lg-4, .col-remain
  {
    float: left;
    padding: 0px;
    width: 33%;
    border: 10px solid white;
    background-color: #FAFAFA;
  }
  .col-remain
  {
    float: left;
    width: 33%;
    border: 10px solid white;
    background-color: #FAFAFA;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6
  {
    float: left;
    width: 50%;
    border: 10px solid white;
    background-color: #FAFAFA;
  }
  .col-remain
  {
    clear: left;
    border: 10px solid white;
    background-color: #FAFAFA;
  }
}

/* mobile */
@media (min-width: 768px) and (max-width: 767px) {
}
